<div id='index3' class='parent'>
<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">Benjamin</li>
    <li class="active">
      <a href="index2.html">Home</a>
    </li>
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#team">Team</a>
    </li>
    <li>
      <a href="http://blog.textbenjamin.com">Blog</a>
    </li>
  </ul>
</div>

<div class="stage" id="stage">

<nav class="navbar navbar-transparent navbar-fixed-top navbar-padded app-navbar p-t-md">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="sms:6692365527&body=Hi, Benjamin"
        <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">
          Benjamin
        </strong>
      </a>
  <!-- href=<%= root_path  %>> -->
    </div>
    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav navbar-right">
        <li >
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li >
          <a class="page-scroll" href="#team">Team</a>
        </li>
        <li >
          <a class="page-scroll" href="http://blog.textbenjamin.com">Blog</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



<!-- <div class="block block-inverse block-fill-height app-header"
     style="background-image: url(docs/assets/img/placeit-tall.jpg);"> -->

<div class="block block-inverse block-fill-height app-header mainBlock"
     >

  <div class="block-xs-middle p-b-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <h1 class="block-title visible-xs-block" style='height:126px' >
            See Your Credit Card's Ranking In 15 Seconds<br><br>
<!--             <div class='element'></div> -->
          </h1>

          <h1 class="block-title hidden-xs" style='height:84px' >
            See Your Financial Health Score - And How To Improve It
<!--             <div class='element '></div> -->
          </h1>

          
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

          <div class="block-title visible-xs-block">
            <br>
            <p class="lead text-muted">Bring Clarity To Your Financial Life By Texting A Financial Expert AI</p>
          </div>

          <div class="hidden-xs">
          <p class="lead text-muted">Get An Instant Check-Up For Your Financial Life</p>
          </div>
          
          <% if alert.nil? == false %>
            <h4 style='color:#96281B'><%= alert %></h4>
          <% end %>



          <% if notice.nil? == false %>
            
            <div class="hidden-xs">
                  <h3 style='color:#f50000'><%= notice %></h3>
            </div>

<!--             fomerly #2d3238 -->

          <% else %>
            <div class="hidden-xs">
                  <%= form_tag({controller: "requests", action: "create"}, method:'post') do %>
                  <input name="request[phoneNumber]" id="phone_number" placeholder="Your Email" class="input-lg" style="text-align:center;color:black">
                  <br><br>
                  <input type="submit" name="commit" id="submitphone" value="See Your Credit Card's Ranking In 15 Seconds" class="btn btn-warning btn-lg">
                  <% end %>
            </div>
          <% end %>



            <div class="visible-xs-block">
              <a href="sms:6692365527&body=Hi, Benjamin" class="btn btn-warning btn-lg">Start With A Text</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-iphone-block hidden-xs" id="about">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5 text-xs-right">
<!--         <img class="app-iphone" src="docs/assets/img/startup-2copy.jpg" style="width: 100%;">
 -->        <%= image_tag("startup-2copy", class:'app-iphone', style:'width: 100%') %>
      </div>

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">About</h6>
        <h3 class="m-t-0">I'm Benjamin, a robot that will give you personalized financial advice.</h3>
        <p class="lead m-b-md">I've compiled a comprehensive database of financial information, all designed to find the best possible answers for you.</p>
        <div class="row hidden-sm">
          <div class="col-sm-6 m-b-md">
            <h5 class="m-y-0">How it works</h5>
            <p>Sign up with your email above. Ask Benjamin specific questions or get a general financial checkup.</p>
          </div>
          <div class="col-sm-6">
            <h5 class="m-y-0">What will I get?</h5>
            <p>Benjamin can almost always find savings in some part of your financial life. On average, users save about $250.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-iphone-block visible-xs-block" id="about">
  <div class="container">
    <div class="row app-align-center">

     

      <div class="col-sm-6 col-sm-offset-1">
        <h6 class="text-muted text-uppercase">About</h6>
        <h3 class="m-t-0">I'm Benjamin, a robot that will give you personalized financial advice.</h3>
        <p class="lead m-b-md">I've compiled a comprehensive database of financial information, all designed to find the best possible answers for you.</p>
        <div class="row hidden-sm">
          <div class="col-sm-6 m-b-md">
            <h5 class="m-y-0">How it works</h5>
            <p>Just tap the button above to text Benjamin. Ask him specific questions or get a general financial checkup.</p>
          </div>
          <div class="col-sm-6">
            <h5 class="m-y-0">What will I get?</h5>
            <p>Benjamin can almost always find savings in some part of your financial life. On average, users save about $250.</p>
          </div>
        </div>
      </div>
    </div>

     <div class="col-sm-5 text-xs-right">
<!--         <img class="app-iphone" src="docs/assets/img/startup-2copy.jpg" style="width: 100%;">
 -->        <%= image_tag("startup-2copy", class:'app-iphone', style:'width: 100%') %>
      </div>

  </div>
</div>


<div class="block block-secondary app-high-praise p-b-0" id="team">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
        <h6 class="text-muted text-uppercase">Team</h6>
        <h3 class="m-t-0 m-b-md">Thomas Smyth &<br>Daniel Petkevich</h3>
        <p class="m-b-md">Thomas and Daniel went to Yale together. You'd think they'd have a handle on their personal finances, but after high interest payments, expensive car insurance, and bank overdraft fees, they realized that the world of consumer finance is surprisingly complicated. That's why they created Benjamin: to make it super-easy to take care of your financial life.</p>
      </div>
      <div class="col-md-4 col-sm-pull-5">
<!--         <img src="docs/assets/img/thomas.jpg">
 -->         <%= image_tag("thomas") %>

      </div>
      <div class="col-md-4 col-sm-pull-5">
<!--         <img src="docs/assets/img/daniel.jpg">
 -->        <%= image_tag("daniel") %>
      </div>
    </div>
  </div>
</div>



<div class="block block-secondary app-block-marketing-grid">
  <div class="container text-center">


    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
<!--         <img class="m-b" src="docs/assets/img/startup-9.svg">
 -->        <%= image_tag("startup-9",class:'m-b') %>
        <p><strong>24/7 support.</strong> Benjamin is always here for you, no matter what time of day.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
<!--         <img class="m-b" src="docs/assets/img/startup-10.svg">
 -->        <%= image_tag("startup-10",class:'m-b') %>
        <p><strong>Intelligence.</strong> Every user makes our financial analytics engine stronger.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
<!--         <img class="m-b" src="docs/assets/img/startup-11.svg">
 -->        <%= image_tag("startup-11",class:'m-b') %>
        <p><strong>Turnaround.</strong> Benjamin's a speedy guy, so he'll get back to you in seconds.</p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-sm-4 p-x-md m-b-lg">
<!--         <img class="m-b" src="docs/assets/img/startup-12.svg">
 -->        <%= image_tag("startup-12",class:'m-b') %>
        <p><strong>Detailed calculations.</strong> We do the math so that you don't have to.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
<!--         <img class="m-b" src="docs/assets/img/startup-13.svg">
 -->        <%= image_tag("startup-13",class:'m-b') %>
        <p><strong>Mobile apps.</strong> iOS and Android apps coming soon.</p>
      </div>
      <div class="col-sm-4 p-x-md m-b-lg">
<!--         <img class="m-b" src="docs/assets/img/startup-14.svg">
 -->        <%= image_tag("startup-14",class:'m-b') %>
        <p><strong>Secure connections.</strong> Every single request is routed through our secure server.</p>
      </div>
    </div>
  </div>
</div>


<div class="block block-inverse app-footer" id="contact">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Contact</h6></li>
          <li class="text-muted">
           Thanks for trying out Benjamin. If you’d like to learn more, or are interested in joining our team, contact us  at <a href="mailto: hello@textbenjamin.com">hello@textbenjamin.com</a>.
          </li>
        </ul>
      </div>

      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted">Terms</li>
          <li class="text-muted">Legal</li>
          <li class="text-muted">Privacy</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 964256286;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "eil0CMeJ_F8QnsTlywM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:none;">
    <img height="1" width="1" style="border-style:none;display:none" alt="" src="//www.googleadservices.com/pagead/conversion/964256286/?label=eil0CMeJ_F8QnsTlywM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

</div>
</div>


    